@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    background-color: #0a0800;
}

main{
    background-color: #F4F0BC;
    font-family: 'Montserrat', sans-serif;
    border: 10px;
    min-width: 320;
    max-width: 800px;
    padding: 20px;
    margin: auto;

}

h1{
    color: #0a0800;
    text-align: center;
    text-shadow: 1px 1px 2px rgba(19, 3, 4, 0.15)

}

h2{
    color: #0a0800;

}

p{
    text-align: justify;
}

a{
    text-decoration: none;
    color: #4900e7;
    font-weight: bold;
}

a:hover{
    color: rgb(255, 0, 0);
    text-decoration: underline;
}

