@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');


*{
    color: white;
    margin: 0px;
    padding: 0px;
    font-family: 'PT Sans', sans-serif;
 
}

:root {
    --cor0: black;
    --cor1: #1E1E1E;
    --cor2: yellow;
    --fonte-padrao: 'PT Sans', sans-serif;
   
}


body{
    background-color: var(--cor1);
}

header {
    background-color: var(--cor1);
    margin: auto;
    min-height: 100px;
}

main{
    background-color: var(--cor1);
    font-family: var(--fonte-padrao);
    border: 10px;
    min-width: 320;
    max-width: 800px;
    padding: 20px;
    margin: auto;

}

footer {
    background-color: var(--cor0);
    width: 100%;
    height: 25px;
    margin: auto;
    bottom: 0;
    position: fixed;
}

footer > p {
    text-align: center;
}

footer strong {
    color: var(--cor2)
}

strong {
    color: var(--cor2);
}



a{
    text-decoration: none;
    color: var(--cor2);
    font-weight: bold;
}

a:hover{
    color: rgb(255, 0, 0);
    text-decoration: underline;
}

